.hero {
    width: 100%;
    height: 600px;
    position: relative;
    background: url('../../public/Images/devspace.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hamburger {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 999999999999999999999999999;
    transition: 1s;
    display: none;

  }
  .bar {
    margin: 8px 0;
    transition: 0.5s;
  }
  .bar:nth-child(1) {
    width: 80%;
    height: 4px;
    background-color: #f2f3f7;
    border-radius: 8px;
  }
  .bar:nth-child(2) {
    width: 100%;
    height: 4px;
    background-color: #f2f3f7;
    border-radius: 8px;
  }
  .bar:nth-child(3) {
    width: 60%;
    height: 4px;
    background-color: #f2f3f7;
    border-radius: 8px;
  }

  .bar:nth-child(2).animate {
    transform: rotate(45deg) translate(2px) scale(0.7);
  }
  .bar:nth-child(1).animate {
    transform: rotate(-45deg) translate(-9px,9px) scale(0.7);
    width: 100%;
  }
  .bar:nth-child(3).animate {
    opacity: 0;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .desc {
    position: absolute;
    bottom: 10%;
    left: 10%;
    
  
  }
  .desc h1 {
    color: white;
    font-size: 40px;
    margin: 10px;  
    font-weight: 400;
  }
  .desc h3 {
    color: #f2f3f7;
  }
  .desc h1 span {
      color:#2c98f0;
  }
  .desc button {
    background: none;
    border: 1px solid #2c98f0;
    color: #f2f3f7;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
  }
  @media screen and (max-width:600px) {
    .hamburger {
      display: block;
    }
  }