.classesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .classesContainer > div {
    flex: 20%;
    margin: 15px;
    width: 140px; 
    height: 140px;
  }
  .moreSkills {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .more {
    
  }

  @media screen and (max-width:600px) {
    .sidebar {
      left: -100%;
    }
    .maincontent {
      margin-left: 0%;
      width: 100%;
    }
    .about p {
      text-align: justify;
    }
    .classesContainer > div {
      flex: 100% !important;
    }
    .classesContainer {
      margin-bottom: 50px;
    }
}